<!DOCTYPE html>
<html lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
	<title>Starter Template - Materialize</title>

	<!-- CSS  -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
</head>

<body>
	<nav class="light-blue lighten-1" role="navigation">
		<div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Logo</a>
			<ul class="right hide-on-med-and-down">
				<li><a href="#">Navbar Link</a></li>
			</ul>

			<ul id="nav-mobile" class="side-nav">
				<li><a href="#">Navbar Link</a></li>
			</ul>
			<a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
		</div>
	</nav>
	<div class="section no-pad-bot" id="index-banner">
		<div class="container">
			<br><br>
			<h1 class="header center orange-text">Placeholder</h1>
			<div class="row center">
				<h5 class="header col s12 light">More placeholder stuff</h5>
			</div>
			<div class="row center">
				<a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light orange">Button</a>
			</div>
			<br><br>

		</div>
	</div>


	<div class="container">
		<div class="section">

			<!--   Icon Section   -->
			<div class="row">
				<div class="col s12 m4">
					<div class="icon-block">
						<h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
						<h5 class="center">First caption</h5>

						<p class="light">Bacon ipsum dolor amet pancetta ham hock fatback, cow landjaeger spare ribs filet mignon bresaola rump tail doner jerky kielbasa pork loin. Sirloin swine meatball, beef sausage meatloaf ham hock bresaola strip steak biltong short loin pork. Jowl shoulder prosciutto boudin. Pork chop ball tip bacon filet mignon andouille, pancetta hamburger cupim tail sausage ribeye beef ribs flank. Short loin cow corned beef alcatra shank tongue.</p>
					</div>
				</div>

				<div class="col s12 m4">
					<div class="icon-block">
						<h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
						<h5 class="center">Second caption</h5>

						<p class="light">Bacon ipsum dolor amet pancetta ham hock fatback, cow landjaeger spare ribs filet mignon bresaola rump tail doner jerky kielbasa pork loin. Sirloin swine meatball, beef sausage meatloaf ham hock bresaola strip steak biltong short loin pork. Jowl shoulder prosciutto boudin. Pork chop ball tip bacon filet mignon andouille, pancetta hamburger cupim tail sausage ribeye beef ribs flank. Short loin cow corned beef alcatra shank tongue.</p>
					</div>
				</div>

				<div class="col s12 m4">
					<div class="icon-block">
						<h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
						<h5 class="center">Third caption</h5>

						<p class="light">Bacon ipsum dolor amet pancetta ham hock fatback, cow landjaeger spare ribs filet mignon bresaola rump tail doner jerky kielbasa pork loin. Sirloin swine meatball, beef sausage meatloaf ham hock bresaola strip steak biltong short loin pork. Jowl shoulder prosciutto boudin. Pork chop ball tip bacon filet mignon andouille, pancetta hamburger cupim tail sausage ribeye beef ribs flank. Short loin cow corned beef alcatra shank tongue.</p>
					</div>
				</div>
			</div>

		</div>
		<br><br>

		<div class="section">

		</div>
	</div>

	<footer class="page-footer orange">
		<div class="container">
			<div class="row">
				<div class="col l6 s12">
					<h5 class="white-text">Footer caption</h5>
					<p class="grey-text text-lighten-4">Footer caption is here</p>


				</div>
				<div class="col l3 s12">
					<h5 class="white-text">Settings</h5>
					<ul>
						<li><a class="white-text" href="#!">Link 1</a></li>
						<li><a class="white-text" href="#!">Link 2</a></li>
						<li><a class="white-text" href="#!">Link 3</a></li>
						<li><a class="white-text" href="#!">Link 4</a></li>
					</ul>
				</div>
				<div class="col l3 s12">
					<h5 class="white-text">Connect</h5>
					<ul>
						<li><a class="white-text" href="#!">Link 1</a></li>
						<li><a class="white-text" href="#!">Link 2</a></li>
						<li><a class="white-text" href="#!">Link 3</a></li>
						<li><a class="white-text" href="#!">Link 4</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="footer-copyright">
			<div class="container">
				Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Daid</a>
			</div>
		</div>
	</footer>
	<script src="http://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
	<script src="init.js"></script>

</body>

</html>
